---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import GalleryImage from "../../components/GalleryImage.astro";
import { getAlbumImages } from "../../utils";

export async function getStaticPaths() {
    const albums = await getCollection("albums");

    return Object.values(albums).map((album) => (
        {
            params: {
                id: album.id,
            },
            props: {
                album,
            },
        }
    ));
}

const { album } = Astro.props;
const images = await getAlbumImages(album.id);
---
<BaseLayout>
    <div class="flex flex-col flex-wrap gap-3 text-center">
        <h1 class="text-4xl font-extrabold drop-shadow-lg">
            {album.data.title}
        </h1>
        <p class="text-md opacity-75 font-sans">
            {album.data.description}
        </p>
        <div class="mx-auto container my-8 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5">
            {
                images.map((image) => (
                    <GalleryImage image={image} album={album.data.title}/>
                ))
            }
        </div>
    </div>
</BaseLayout>