@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply text-white font-mono
    }

    .abs-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
    }

    .fancy-list > li {
        @apply border-b-slate-200 border-b-2 mb-2 pb-2
    }
}

@font-face {
    font-family: 'Nexa Black Italic';
    src:
        url('./fonts/NexaBlackItalic.ttf') format('truetype'),
        url('./fonts/NexaBlackItalic.otf') format('opentype');

    font-style: italic;
    font-weight: bold;
    font-display: swap;
}

.effect-underline {
    position: relative;
    display: inline-block;
}

a.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

a.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.typewriter {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    border-right: 2px solid rgba(255,255,255,.75);

    animation:
        typewriter
            7s steps(12) 1s infinite normal both,
        blinking-text-cursor
            500ms steps(12) infinite normal;
}

@media (pointer: fine) {
    .typewriter {
        @apply drop-shadow-xl;
    }
}

@keyframes typewriter {
    0% { width: 0; }
    50% { width: 100%; }
    90% { width: 100%; }
    100% { width: 0; }
}

@keyframes blinking-text-cursor {
    from { border-right-color: rgba(255, 255, 255, 0.75); }
    to { border-right-color: transparent; }
}

.text-shine {
    color: transparent;

	background: #8b5cf6
        -webkit-gradient(
            linear,
            left top,
            right top,
            from(#8b5cf6),
            to(#8b5cf6),
            color-stop(0.5, white)
        )
        0 0 no-repeat;

    -webkit-background-size: 150px;
    -webkit-background-clip: text;

    background-size: 150px;
    background-clip: text;

    animation: text-shine 4s linear infinite forwards;
}

@keyframes text-shine {
	from {
		background-position: -6em;
	}
	to {
		background-position: 6.5em;
	}
}

.small-icon-shadow {
    filter: drop-shadow(1px 1px 1px #3e3e3e);
}

.fade-bottom {
    -webkit-mask-image:
        linear-gradient(
            to bottom,
            rgba(0,0,0,1) 0% 80%,
            rgba(0,0,0,0)
        );
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top, left bottom;

    mask-image:
        linear-gradient(
            to bottom,
            rgba(0,0,0,1) 0% 80%,
            rgba(0,0,0,0)
        );
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: left top, left bottom;
}

.glass {
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 4px 20px rgba(255, 255, 255, 0.3);
    transition: transform 0.55s ease-in-out;
}

.glass > img {
    transition: inherit;
}

.glass:hover {
    transform: scale(1.1);
}

.glass:hover > img {
    transform: scale(1.04);
}

.glass::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: inherit;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    box-shadow:
        inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
        inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
    opacity: 0.6;
    z-index: -1;
    filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}