@import "tailwindcss";

@theme {
    --font-soft: "Quicksand", sans-serif;
    --font-zh: "Long Cang", serif;
    --font-sans: "Titillium Web", sans-serif;
    --font-mono: "Jetbrains Mono", monospace;
    --font-nexa-black-italic: "Nexa Black Italic", sans-serif;

    --color-python: var(--color-indigo-100);
    --color-rust: var(--color-red-100);
    --color-java: var(--color-orange-200);
    --color-cpp: var(--color-purple-100);
    --color-javascript: var(--color-yellow-200);
    --color-typescript: var(--color-sky-200);
    --color-html: var(--color-orange-200);
    --color-css: var(--color-purple-100);
    --color-react: var(--color-sky-100);
    --color-astro: var(--color-amber-100);
    --color-tailwind: var(--color-sky-200);
    --color-bootstrap: var(--color-violet-200);
    --color-webassembly: var(--color-sky-100);
    --color-flask: var(--color-cyan-100);
    --color-quart: var(--color-cyan-100);
    --color-axum: var(--color-red-100);
    --color-mongo: var(--color-green-200);
    --color-sqlite: var(--color-indigo-100);
    --color-opencv: var(--color-blue-100);
    --color-pillow: var(--color-pink-100);
    --color-numpy: var(--color-purple-100);
    --color-sympy: var(--color-green-200);
    --color-matplotlib: var(--color-orange-200);
    --color-p5: var(--color-red-100);
    --color-vite: var(--color-yellow-100);
    --color-instagram: var(--color-yellow-100);
    --color-discordpy: var(--color-indigo-100);
    --color-sphinx: var(--color-blue-100);
    --color-cloudflare: var(--color-orange-200);
    --color-d3: var(--color-orange-200);
    --color-leaflet: var(--color-green-200);
    --color-swiper: var(--color-purple-200);
}

@layer components {
    body {
        @apply font-mono text-white;
    }

    .abs-center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    .fancy-list > li {
        @apply mb-2 border-b-2 border-b-slate-200 pb-2;
    }
}

@font-face {
    font-family: "Nexa Black Italic";
    src:
        url("/fonts/NexaBlackItalic.woff2") format("woff2"),
        url("/fonts/NexaBlackItalic.woff") format("woff"),
        url("/fonts/NexaBlackItalic.ttf") format("truetype"),
        url("/fonts/NexaBlackItalic.otf") format("opentype"),
        url("/fonts/NexaBlackItalic.eot?#iefix") format("embedded-opentype"),
        url("/fonts/NexaBlackItalic.svg#NexaBlackItalic") format("svg");

    font-style: italic;
    font-weight: 900;
    font-display: swap;
}

.effect-underline {
    position: relative;
    display: inline-block;
}

.effect-underline:after {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition:
        opacity 0.35s,
        -webkit-transform 0.35s;
    transition:
        opacity 0.35s,
        transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.effect-underline:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.typewriter {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    border-right: 2px solid rgba(255, 255, 255, 0.75);

    animation:
        typewriter 7s steps(12) 1s infinite normal both,
        blinking-text-cursor 500ms steps(12) infinite normal;
}

@media (pointer: fine) {
    .typewriter {
        @apply drop-shadow-xl;
    }
}

@keyframes typewriter {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    90% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@keyframes blinking-text-cursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.small-icon-shadow {
    filter: drop-shadow(1px 1px 1px #3e3e3e);
}

.fade-bottom {
    -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0% 80%,
        rgba(0, 0, 0, 0)
    );
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position:
        left top,
        left bottom;

    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0% 80%,
        rgba(0, 0, 0, 0)
    );
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position:
        left top,
        left bottom;
}

.glass {
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    backdrop-filter: blur(2px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 4px 20px rgba(255, 255, 255, 0.3);
}

.glass::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: inherit;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    box-shadow:
        inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
        inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
    opacity: 0.6;
    z-index: -1;
    filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}

.glass-extras {
    transition: transform 0.55s ease-in-out;
}

.glass-extras > img {
    transition: inherit;
}

.glass-extras:hover {
    transform: scale(1.1);
}

.glass-extras:hover > img {
    transform: scale(1.04);
}
