---
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutSection from "../components/AboutSection.astro";
import Icon from "../components/Icon.astro";

const age = new Date().getFullYear()
    - new Date(2007, 1, 1).getFullYear();

const stack = [
    [
        "python",
        "rust",
        "java",
        "javascript",
        "typescript",
        "html",
        "css",
    ], [
        "astro",
        "react",
        "tailwind",
        "bootstrap",
        "mongo",
        "sqlite",
    ], [
        "flask",
        "numpy",
        "sympy",
        "matplotlib",
    ],
];
---
<BaseLayout>
    <div id="about-page" class="flex flex-col gap-10 mt-10 lg:mt-40 mb-32 w-4/5 lg:w-1/2">
        <div class="flex flex-col gap-3">
            <h1 class="text-6xl font-extrabold drop-shadow-lg hover:-translate-y-2 transition-all duration-500">About Me</h1>
            <hr class="w-1/2"/>
            <h2 class="text-shine text-3xl font-bold drop-shadow-lg">Tom the Bomb</h2>
            <div class="flex flex-row flex-wrap gap-3">
                <Icon size="2em" img="canada" styles="small-icon-shadow" target="_self"/>
                <Icon size="2em" img="china" styles="small-icon-shadow" target="_self"/>
            </div>
        </div>
        <p class="text-xl drop-shadow-lg">
            Hi, I am a {age} year old student who is interested in software development, mathematics, photography and aquatic life.
            This website aims to showcase elements from all of these areas.
        </p>
        <AboutSection title="Development Tools" icon="stack">
            <div class="swiper-body">
                <div class="swiper about-swiper">
                    <div class="swiper-wrapper pb-8">
                        <div class="swiper-slide text-lg drop-shadow-md">
                            My goto languages are <span class="text-cyan-800">Python</span>
                            and <span class="text-rose-800">Rust</span> for more intensive and complex applications.
                            I also use <span class="text-yellow-300">JS</span>
                            & <span class="text-sky-600">TS</span> for frontend development alongside
                            <span class="text-orange-300">HTML</span> &
                            <span class="text-blue-600">CSS</span> or frameworks like
                            <span class="text-sky-200">React.js</span>,
                            <span class="text-cyan-900">Astro.js</span>,
                            <span class="text-sky-800">Tailwind CSS</span>, and
                            <span class="text-violet-600">Bootstrap 5</span>.
                            Sometimes I also integrate my <span class="text-rose-800">Rust</span> programs into the web with
                            <span class="text-blue-600">WebAssembly</span>.
                            I also use <span class="text-orange-300">Java</span> for applications in school such as robotics.
                            For data management, I use <span class="text-green-300">MongoDB</span> and <span class="text-blue-600">SQLite</span>.
                            <br/>
                            <br/>
                            <div class="flex flex-row flex-wrap items-center gap-3 font-sans text-lg opacity-75">
                                <Icon size="1.5em" img="lightbulb" target="_self"/>
                                <p>
                                    This website was made with <span class="text-cyan-900">Astro.js</span> with
                                    <span class="text-sky-600">TS</span> and <span class="text-sky-800">Tailwind CSS</span>
                                </p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="py-4 flex flex-col flex-wrap gap-5 justify-center items-center">
                                {
                                    stack.map((row) => (
                                        <div class="flex flex-row flex-wrap gap-5">
                                            {
                                                row.map((tool) => (
                                                    <Icon
                                                        styles="drop-shadow-lg"
                                                        color=""
                                                        size="3.5em"
                                                        img={`stack/${tool}`}
                                                        target="_self"
                                                    />
                                                ))
                                            }
                                        </div>
                                    ))
                                }
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <p class="py-5 lg:w-1/2 text-slate-300">
                You can view some of my projects over on the
                <a class="underline underline-offset-2 hover:text-white" href="./projects">Projects</a> page and my
                <a class="underline underline-offset-2 hover:text-white" href="https://github.com/Tom-the-Bomb" target="_blank" >GitHub</a>
            </p>
        </AboutSection>
        <AboutSection title="Photography" icon="camera">
            For me, <b>Photography</b> is an swift and easy way to capture my favorite moments in time.
            With just a swift snap of the shutter, a high quality frozen snapshot of the moment has just been saved forever.
            <br><br>
            I currently use either the <span class="text-slate-700">NIKON D3500</span> or an
            <span class="text-slate-700">iPhone 13</span>. Sometimes I will use a
            <span class="text-slate-700">Canon Rebel EOS</span> and in the past there are some old photos taken on an
            <span class="text-slate-700">iPhone X</span>.
            <br><br>
            I enjoy taking photos of <span class="text-yellow-200">architecture</span>,
            <span class="text-yellow-200">landscapes & cityscapes</span>,
            <span class="text-yellow-200">nature & wildlife</span>
            (such as my own aquaria and plants) and <span class="text-yellow-200">macro</span> photography.
            Most of my photos stem from travels as that is where there is the most to see!
            <p class="py-5 lg:w-1/2 text-slate-300">
                A selection of my photos can be found over on the
                <a class="underline underline-offset-2 hover:text-white" href="./photography">Photography</a> page.
            </p>
        </AboutSection>
        <AboutSection title="Aquaria" icon="fish">
            For over five years, I’ve gained experience maintaining a variety of aquatic life, including
            <span class="text-blue-200">fish</span>, <span class="text-green-200">plants</span>,
            <span class="text-orange-200">invertebrates</span>
            and <span class="text-red-200">corals</span>—both in saltwater and freshwater setups—across multiple aquariums and an outdoor pond.
            <br><br>
            Their uniqueness as pets, along with their natural beauty and calmness they bring forth, has always deeply appealed to me.
            While they may not be as interactive as dogs or cats, having nearly self-sustaining ecosystems in your home,
            complete with a range of creatures of all sizes, from microscopic to large, just resonates with me differently.
            <p class="py-5 lg:w-2/3 text-slate-300">
                Pictures and more information about what I have kept can be found over on the
                <a class="underline underline-offset-2 hover:text-white" href="./aquaria">Aquaria</a> page.
            </p>
        </AboutSection>
    </div>
</BaseLayout>

<script>
    import Swiper from 'swiper';
    import { Keyboard, Mousewheel, Pagination } from 'swiper/modules';

    import 'swiper/css';
    import 'swiper/css/pagination';

    document.addEventListener('astro:page-load', () => {
        if (document.getElementById('about-page') == null) {
            return;
        }

        new Swiper('.about-swiper', {
            modules: [Keyboard, Mousewheel, Pagination],
            loop: true,
            keyboard: true,
            mousewheel: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    });
</script>