---
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutSection from "../components/AboutSection.astro";
import Icon from "../components/Icon.astro";

import Swiper from 'swiper';

// Import Swiper styles
import 'swiper/css';
import 'swiper/css/pagination';
import 'swiper/css/navigation';

const age = new Date().getFullYear() - new Date(2007, 1, 1).getFullYear();
---
<BaseLayout>
    <div class="flex flex-col gap-10 w-1/2 mt-40 mb-32">
        <div class="flex flex-col gap-3">
            <h1 class="text-6xl font-extrabold drop-shadow-lg">About Me</h1>
            <hr class="w-1/2"/>
            <h2 class="text-shine text-3xl font-bold drop-shadow-lg">Tom the Bomb</h2>
            <div class="flex flex-row flex-wrap gap-3">
                <Icon size="2em" img="canada" href="#" styles="small-icon-shadow" target="_self"/>
                <Icon size="2em" img="china" href="#" styles="small-icon-shadow" target="_self"/>
            </div>
        </div>
        <p class="text-xl">
            Hi, I am a {age} year old student who is interested in software development, mathematics, photography and aquatic life.
            This website aims to showcase elements from all of these areas.
        </p>
        <div class="swiper">
            <div class="swiper-wrapper">
                <AboutSection title="Development Tools" icon="stack">
                    My goto languages are <span class="text-sky-500">Python</span>
                    and <span class="text-rose-800">Rust</span> for more intensive and complex applications.
                    I also use <span class="text-yellow-300">JS</span>
                    & <span class="text-sky-400">TS</span> for frontend development alongside
                    <span class="text-orange-300">HTML</span> &
                    <span class="text-blue-500">CSS</span> or frameworks like
                    <span class="text-sky-200">React.js</span>,
                    <span class="text-purple-700">Astro.js</span>,
                    <span class="text-sky-500">Tailwind CSS</span>, and
                    <span class="text-violet-600">Bootstrap 5</span>.
                    Sometimes I also integrate my <span class="text-rose-800">Rust</span> programs into the web with
                    <span class="text-blue-500">WebAssembly</span>.
                    I also use <span class="text-orange-600">Java</span> for applications in school such as robotics.
                    For data management, I use <span class="text-green-300">MongoDB</span> and <span class="text-blue-600">SQLite</span>.
                    <br/>
                    <br/>
                    <div class="flex flex-row flex-wrap items-center gap-3 font-sans text-lg opacity-75">
                        <Icon size="1.5em" img="lightbulb" href="#" target="_self"/>
                        <p>
                            This website was made with <span class="text-purple-700">Astro.js</span> with
                            <span class="text-sky-400">TS</span> and <span class="text-sky-500">Tailwind CSS</span>
                        </p>
                    </div>
                </AboutSection>
                <div class="swiper-slide">
                    Test
                </div>
            </div>
        </div>
        <AboutSection title="Photography" icon="camera">

        </AboutSection>
    </div>
</BaseLayout>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>new Swiper('.swiper', {speed: 400, spaceBetween: 100})</script>