---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Quote from "../components/Quote.astro";
import HoverSlide from "../components/HoverSlide.astro";

const albums = await getCollection("albums");
---
<BaseLayout>
    <div class="flex flex-col gap-16 items-center">
        <Quote author="Ali Novake" styles="w-4/5 lg:w-1/3">
            The world moves fast, changing everything around us with each new day.
            Photography is a gift that can keep us in a moment forever, blissfully eternal.
        </Quote>
        {
            albums.map((album) => (
                <div
                    class="fade-bottom hover:scale-105
                    backdrop-brightness-[0.7] hover:backdrop-brightness-[1.2]
                    transition-all duration-500
                    relative text-center shadow-xl
                    rounded-[4px] border-r-4 border-l-4"
                >
                    <Image
                        src={album.data.cover}
                        alt={album.data.title}
                        class="w-72 opacity-75"
                        format="avif"
                        quality="mid"
                        loading="lazy"
                        decoding="async"
                    />
                    <div class="text-rose-100 abs-center text-3xl drop-shadow-lg">
                        <HoverSlide
                            text={album.data.title}
                            href={`/photography/${album.id}`}
                        />
                    </div>
                </div>
            ))
        }
    </div>
</BaseLayout>