---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <div class="flex flex-col gap-3 font-sans text-xl w-1/2 drop-shadow-lg ">
        <blockquote>
            <p class="italic">
                &OpenCurlyDoubleQuote;The world moves fast, changing everything around us with each new day.
                Photography is a gift that can keep us in a moment forever, blissfully eternal.&CloseCurlyDoubleQuote;
            </p>
        </blockquote>
        <p>—Ali Novake</p>
    </div>
</BaseLayout>