---
import Icon from './Icon.astro';

interface Props {
	text?: string | undefined
}

const {
	text = 'Tom the Bomb 2024'
} = Astro.props;
---
<footer class="p-8 text-xl text-center flex-none">
    <div class="p-5 gap-3 flex flex-row flex-wrap justify-center">
        <Icon img="github" target="https://github.com/Tom-the-Bomb"/>
        <Icon img="discord" target="https://discord.com/users/522524473447153695"/>
        <Icon img="leetcode" target="https://leetcode.com/u/Tom-the-Bomb/"/>
    </div>
    <a class="relative inline-block effect-underline">{text}<a/>
</footer>