---
import Icon from './Icon.astro';

interface Props {
    href?: string | undefined,
	text?: string | undefined,
}

const {
    href = 'https://github.com/Tom-the-Bomb/tomthebomb.dev',
	text = 'Tom the Bomb 2025',
} = Astro.props;

---
<footer class="relative p-8 text-xl text-center flex-none">
    <div class="p-5 gap-3 flex flex-wrap justify-center">
        <Icon img="mail" href="mailto:me@tomthebomb.dev"/>
        <Icon img="github" href="https://github.com/Tom-the-Bomb"/>
        <Icon img="discord" href="https://discord.com/users/522524473447153695"/>
        <Icon img="leetcode" href="https://leetcode.com/u/Tom-the-Bomb/"/>
        <Icon img="linkedin" href="https://www.linkedin.com/in/tommyshen/"/>
    </div>
    <a target="_blank" href={href} class="effect-underline">{text}<a/>
</footer>