---
interface Props {
    text: string,
    href: string,
}

const { text, href } = Astro.props;
---
<div class="slide-text-hover">
    <span class="text-wrapper"><a href={href}>{text}</a></span>
    <a href={href}>{text}</a>
</div>

<style>
    .slide-text-hover {
        position: relative;
        display: inline-block;
    }

    @media (hover: hover) {
        .slide-text-hover:hover .text-wrapper {
            width: 100%;
        }
    }

    @media (hover: none) {
        .slide-text-hover:hover {
            color: white;
        }
    }

    .text-wrapper {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        width: 0;
        display: inline-block;
        white-space: pre;
        color: white;
        transition: width 500ms;
        border-bottom: 1px solid;
        padding-bottom: 0.15em;
    }

    .text-wrapper a {
        color: inherit;
    }
</style>