---
import '../styles/global.css';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = 'Tom the Bomb',
	description = 'A personal website',
} = Astro.props;

---
<meta charset="UTF-8"/>
<meta name="description" property="og:description" content={description}/>
<meta name="viewport" content="width=device-width"/>
<meta name="generator" content={Astro.generator}/>
<title>{title}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>