---
import Icon from './Icon.astro';

interface NavItem {
    name: string,
    url?: string | undefined,
}

interface Props {
    pages: NavItem[],
}

const { pages } = Astro.props;
---
<nav class="mb-10 lg:mb-0 p-3 pl-5 flex flex-wrap gap-4 items-center">
    <Icon size="2em" img="home" href="/" target="_self" styles="text-slate-200" color="text-white"/>
    {
        pages.map((page) => (
            <a
                class="border-b-2 border-b-rose-100
                text-white hover:text-white hover:border-b-white"
                href={`/${page.url ? page.url : page.name.toLowerCase()}`}
            >
                <div class="text-xs md:text-base hover:-translate-y-1 transition-transform duration-250">
                    {page.name}
                </div>
            </a>
        ))
    }
</nav>