---
interface Props {
    author: string;
    styles?: string;
}

const { author, styles = "" } = Astro.props;
---

<div
    class={`flex flex-col gap-3 font-serif text-xl drop-shadow-lg hover:scale-105 transition-all duration-1000 ${styles}`}
>
    <blockquote>
        <p class="italic">
            &OpenCurlyDoubleQuote;
            <slot />
            &CloseCurlyDoubleQuote;
        </p>
    </blockquote>
    <cite class="opacity-75">—{author}</cite>
</div>
