---
import { Icon as AstroIcon } from "astro-icon/components";

interface Props {
    name: string;
    class?: string;
}

const { name, class: className } = Astro.props;
---

<span
    class:list={["inline-flex items-center align-middle leading-none gap-1", className]}
>
    <AstroIcon name={`stack/${name}`} class="inline-block" />
    <slot />
</span>
