---
import { fade } from 'astro:transitions';

import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---
<html lang="en" transition:animate={fade({ duration: '2s'})}>
    <head>
        <MainHead/>
    </head>
    <body class="h-dvh flex flex-col bg-gradient-to-tr from-violet-500 to-orange-300 bg-gray-800 bg-fixed">
        <header class="flex-none">
            <Nav pages={["About", "Projects", "Photography", "Aquaria"]}/>
        </header>
        <main class="grow flex justify-center items-center">
            <slot/>
        </main>
        <Footer/>
    </body>
</html>