---
import { fade } from 'astro:transitions';

import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---
<html lang="en" transition:animate={fade({ duration: '2s'})}>
    <head>
        <MainHead/>
    </head>
    <body class="h-dvh flex flex-col bg-gradient-to-tr from-violet-500 to-orange-300 bg-gray-800 bg-fixed">
        <header class="flex-none">
            <Nav pages={["About", "Projects", "Photography", "Aquaria"]}/>
        </header>
        <main class="grow flex justify-center items-center">
            <slot/>
        </main>
        <Footer/>
        <div class="squares">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </div>
    </body>
</html>

<style>
    .squares {
        position: fixed;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100dvh;

        overflow: hidden;
        z-index: -1000;
    }

    .squares li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: squares infinite linear;
        bottom: -150px;
        border-radius: 10%;
    }

    .squares li:nth-child(1) {
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
        animation-duration: 25s;
    }

    .squares li:nth-child(2) {
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }

    .squares li:nth-child(3) {
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
        animation-duration: 25s;
    }

    .squares li:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }

    .squares li:nth-child(5) {
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
        animation-duration: 25s;
    }

    .squares li:nth-child(6) {
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
        animation-duration: 25s;
    }

    .squares li:nth-child(7) {
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
        animation-duration: 25s;
    }

    .squares li:nth-child(8) {
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }

    .squares li:nth-child(9) {
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }

    .squares li:nth-child(10) {
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }

    @keyframes squares {
        from {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 10%;
        }
        to {
            transform: translateY(-100dvh) rotate(720deg);
            opacity: 0.25;
            border-radius: 50%;
        }
    }
</style>